body{
  display: flex;
  background-color: #ffaa99;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
}
/* /* background-image: url("../images/bacon-cheddar-burger.png"); */
button{
  background-color: red;
  border-color: red;
  border-radius: 5px;
}
input{
  border-radius: 5px
}
img{
  width: 25%;
  height: 25%;
}
.image, div{
  display: flex;
  justify-content: center
}
.h4{
  margin-left: 400px;
}