
<li>
	{{Burger_name}}
{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devour}}">

		Devour it
	</button>
{{/unless}}
	{{!-- <button class="devour" data-id="{{this.id}}">DEVOUR</button> --}}
</li>
